.imgContainer {
  display: flex;
  background-color: aliceblue;
  color: rgb(51, 51, 51);
  align-items: center;
  margin: 2px;
  gap: 100px;
  flex-direction: row;
}

.img1 {
  width: 668px;
  height: 588;
}

.mainContainer {
  display: flex;
}

.info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  gap: 30px;
  flex-direction: column;
}

.h1 {
  margin: 0;
  padding: 0;
}

.saleContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  height: 88px;
  background: rgb(186, 234, 181);
  padding: 30px;
}

.header {
  background-color: aliceblue;
  color: rgb(51, 51, 51);
  font-size: 1.5em;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1000px;
}

.logo {
  width: 200px;
}

.text {
  color: rgb(51, 51, 51);
}
.textRed {
  color: red;
}

.input {
  width: 250px;
  height: 25px;
  padding: 10px;
  margin-top: 10px;
  color: rgb(51, 51, 51);
  background-color: aliceblue;
  border-color: chocolate;
  box-shadow: none;
  border-width: 1px;
}

.input:hover {
  border-color: rgb(203, 194, 23);
}

.input:focus {
  outline: none !important;
  border-color: rgb(246, 106, 6);
}

.label {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.none {
}
